.drum-board {
  display: flex;
  justify-content: center;
  align-items: center;
}

.drum-panel {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 3rem;
}
